<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>List of courses</title>
</head>
<body>
<header>
  <div class="logo"></div>
  <div class="header-title">Courses</div>
</header>
<main>
  <div class="courses-toolbar">
    <input type="text">
    <button>Find</button>
    <button>+ Add course</button>
  </div>
  <div class="courses-list">
    <div class="courses-list_item">
      <div class="course_info">
        <div class="course_name">Video course 1</div>
        <div class="course_duration">1h 28m</div>
        <div class="course_date">01.01.2076</div>
        <div class="course_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum cupiditate dolorum
          eius eum inventore minima non qui quia sit suscipit.
        </div>
      </div>
      <div class="course_buttons">
        <div class="btn btn-edit">Edit course</div>
        <div class="btn-btn-delete">Delete</div>
      </div>
    </div>
    <div class="courses-list_item">
      <div class="course_info">
        <div class="course_name">Video course 2</div>
        <div class="course_duration">1h 28m</div>
        <div class="course_date">01.01.2076</div>
        <div class="course_description">Aperiam blanditiis dicta ex illo iste, natus, pariatur possimus praesentium
          provident qui quis repudiandae sequi sunt voluptate voluptatem. Adipisci, et.
        </div>
      </div>
      <div class="course_buttons">
        <div class="btn btn-edit">Edit course</div>
        <div class="btn-btn-delete">Delete</div>
      </div>
    </div>
    <div class="courses-list_item">
      <div class="course_info">
        <div class="course_name">Video course 3</div>
        <div class="course_duration">1h 28m</div>
        <div class="course_date">01.01.2076</div>
        <div class="course_description">Aliquam culpa cumque deleniti dicta dolorum, hic magnam, minima minus, nostrum
          porro qui reiciendis rem tenetur! Explicabo molestiae optio voluptatibus.
        </div>
      </div>
      <div class="course_buttons">
        <div class="btn btn-edit">Edit course</div>
        <div class="btn-btn-delete">Delete</div>
      </div>
    </div>
  </div>
</main>
</body>
</html>
