html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
}
* {
  box-sizing: border-box;
}
span.active {
  background-color: gray;
}

.btn {
  padding: 5px 20px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 3px;
  color: #000;
  cursor: pointer;
  &:hover {
    background-color: #000;
    color: #fff;
  }
}
.btn[disabled] {
  color: #dedede;
  border-color: #dedede;
  cursor: not-allowed;
  &:hover {
    color: #dedede;
    border-color: #dedede
    background-color: #fff;
  }
}
